@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Inter", sans-serif;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  ul,
  ol {
    list-style: none;
  }
}

/* ================================
   Custom Animation
================================ */

@keyframes bounce-x {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 50%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* ================================
   Slick Carousel - Custom Styles
================================ */
.slick-slider {
  padding-bottom: 30px;
}

.blogs {
  padding-bottom: 80px;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #d1d5dc;
}

.slick-dots li.slick-active button {
  background-color: oklch(58.5% 0.233 277.117);
}

/* ================================
   Back To Top Button
================================ */

#back-to-top {
  transition:
    transform 0.3s,
    background-color 0.3s;
}
#back-to-top:hover {
  background-color: #4f46e5;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

/* =======================
     FORM INPUT OVERRIDES
   ======================== */

/* 1. REMOVE INPUT SPINNERS */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 2. BROWSER AUTOFILL CUSTOMIZATION */

/* Light Mode */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px rgba(200, 210, 230, 0.3) inset;
  -webkit-text-fill-color: #0f172a;
  border: 1px solid #cbd5e1;
}

/* Dark Mode */
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px rgba(70, 90, 126, 0.9) inset;
  -webkit-text-fill-color: #f1f5f9;
  border: 1px solid #475569;
}
